<div class="card bg-light">
	<div class="card-header">
		<h4 class="card-title"><i class="fas fa-clock"></i> Timeline</h4>
	</div>

	<div class="card-block">
		<dl class="dl-horizontal">
		  <dt>2004</dt>
		  	<dd>NSF $156,000, 3-year grant to PRIME; inaugural class of 9 go to Australia, Japan or Taiwan.</dd>
		  <dt>2005</dt>
		  	<dd>Program expands to 13 students and China.</dd>
		  <dt>2006</dt>
		  	<dd>Women outnumber men among 14 students, and PRIME opens up to non-engineering majors.</dd>
		  <dt>2007</dt>
		  	<dd>Cohort expands to 15 students despite end of original 3-year NSF grant.</dd>
		  <dt>2008</dt>
		  	<dd>PRIME grows to 21 students and adds host sites in Malaysia and New Zealand.</dd>
		  <dt>2009</dt>
		  	<dd>33 students go to 13 host institutions, including first site in India, University of Hyderabad.</dd>
		  <dt>2010</dt>
		  	<dd>29 students fan out to host sites in 9 countries.</dd>
		  <dt>2011</dt>
		  	<dd>23 undergraduates push PRIME alumni above 150 to date.</dd>
		  <dt>2012</dt>
		  	<dd>PRIME alumna Haley Hunter-Zinck, Class of ’08 in Australia, donates $100,000 to PRIME in memory of her late mother, Jennifer Zinck; 18 students participate in summer program.</dd>
		</dl>
	</div>

</div> <!-- /.card -->