<div class="card bg-light">
	<div class="card-header">
		<h4 class="card-title"><i class="fas fa-clock"></i> Timeline</h4>
	</div>

	<div class="card-block">
		<dl class="dl-horizontal row">
		  <dt class="col-sm-3">2004</dt>
		  	<dd class="col-sm-9">NSF $156,000, 3-year grant to PRIME; inaugural class of 9 go to Australia, Japan or Taiwan.</dd>
		  <dt class="col-sm-3">2005</dt>
		  	<dd class="col-sm-9">Program expands to 13 students and China.</dd>
		  <dt class="col-sm-3">2006</dt>
		  	<dd class="col-sm-9">Women outnumber men among 14 students, and PRIME opens up to non-engineering majors.</dd>
		  <dt class="col-sm-3">2007</dt>
		  	<dd class="col-sm-9">Cohort expands to 15 students despite end of original 3-year NSF grant.</dd>
		  <dt class="col-sm-3">2008</dt>
		  	<dd class="col-sm-9">PRIME grows to 21 students and adds host sites in Malaysia and New Zealand.</dd>
		  <dt class="col-sm-3">2009</dt>
		  	<dd class="col-sm-9">33 students go to 13 host institutions, including first site in India, University of Hyderabad.</dd>
		  <dt class="col-sm-3">2010</dt>
		  	<dd class="col-sm-9">29 students fan out to host sites in 9 countries.</dd>
		  <dt class="col-sm-3">2011</dt>
		  	<dd class="col-sm-9">23 undergraduates push PRIME alumni above 150 to date.</dd>
		  <dt class="col-sm-3">2012</dt>
		  	<dd class="col-sm-9">PRIME alumna Haley Hunter-Zinck, Class of ’08 in Australia, donates $100,000 to PRIME in memory of her late mother, Jennifer Zinck; 18 students participate in summer program.</dd>
		</dl>
	</div>

</div> <!-- /.card -->