<div class="card">
	<div class="card-header">
		<h4 class="card-title"><i class="fas fa-calendar-alt"></i> 2015 Calendar</h4>
	</div>
	<div class="card-block">
	    <p class="card-text">UCSD will host an information session on Wednesday, January 28, 2015 @ 6:15pm in the International Center Dining Room . This event follows the 2014 PRIME Poster Session which will take place from 5-6pm in the IC Lounge. All are welcome!</p>
	</div>

	<div class="card-block">
		<dl class="dl-horizontal">
		  <dt>01.23.15</dt>
		  	<dd>PRIME 2014 Preliminary Applications Due</dd>
		  <dt>02.20.15:</dt>
		  	<dd>PRIME 2014 Full Applications Due by 4pm</dd>
		  <dt>April 2015 (Date TBD):</dt>
		  	<dd>PRIME Pre-Departure Orientation Session, 9-11am</dd>
		  <dt>May 2015 (Date TBD):</dt>
		  	<dd>PRIME Expectations Workshop</dd>
		  <dt>May 2015 (Date TBD):</dt>
		  	<dd>PRIME Pre-departure Cultural Workshop</dd>
		  <dt>October 2015:</dt>
		  	<dd>PRIME 2015 Re-Entry Workshop (date TBA)</dd>
		</dl>
	</div>

	<div class="card-block">
		<dl class="dl-horizontal">
		  <dt>Date TBD:</dt>
		  	<dd>
				Deadline for UCSD Undergraduate Scholarships for summer 2015 scholarships; for details, visit <a href="https://students.ucsd.edu/finances/financial-aid/types/scholarships/index.html">this page</a>
				<br><br>
				All quick links for this page will also need to be updated to include the new application materials
			</dd>
		</dl>
	</div>

</div> <!-- /.card -->