<div class="card bg-light" style="margin-bottom: 40px">
	<div class="card-header">
		<h4 class="card-title"><i class="fas fa-newspaper"></i> What's Happening</h4>
	</div>

	<div class="card-block">
		<a href="{{ "/whats-happening/events" | absolute_url }}">PRIME Events</a><br /><br />
		<a href="{{ "/whats-happening/prime-news" | absolute_url }}">PRIME News</a><br /><br />
		<a href="{{ "/whats-happening/video-gallery" | absolute_url }}">Video Gallery</a><br /><br />
		<a href="{{ "/whats-happening/photo-gallery" | absolute_url }}">Photo Gallery</a><br /><br />
		
		</ul>
	</div>

</div> <!-- /.card -->