<div class="row">
	<div class="col-lg-3 text-center">
		<img src="{{"/assets/images/img-people-gwienhausen.png" | absolute_url}}">
	</div>

	<div class="col-lg-9">
		<h6>Gabriele Wienhausen</h6>
		<p>
			Gabriele received her Ph.D. from the Westfalische Wilhems-Universitat, Munster, Germany. UCSD Division of Biology Associate Dean of Education, was the Founding Provost of Sixth College. Director and PI of NSF Award, Pacific Rim Experiences for Undergraduates (PRIME); Co-Director of the Doctoral Program in Mathematics and Science Education offered jointly by UCSD and SDSU.
		</p>
		<p>
			<strong>Professional Interets:</strong> Establishing and evolving undergraduate educational programs. Research focused on (1) how to promote "meaningful learning" in college science teaching, i.e., how to assure that students store more information in a memorable, readily usable fashion, and (2) how to facilitate the development of effective problem solving skills.
		</p>
		<p>
			<strong>Website:</strong> <a href="http://biology.ucsd.edu/research/faculty/gwienhausen">http://biology.ucsd.edu/research/faculty/gwienhausen</a>
		</p>
	</div>

</div>