<div class="card bg-light" style="margin-bottom: 40px">
	<div class="card-header">
		<h4 class="card-title"><i class="fas fa-link"></i> Quicklinks</h4>
	</div>

	<div class="card-block">
		<ul>
		  <li><a href="{{ "/about" | absolute_url }}">About PRIME</a></li>
		  <li><a href="{{ "/curriculum" | absolute_url }}">PRIME Curriculum</a></li>
		  <li><a href="{{ "/about/sponsors-partners" | absolute_url }}">Sponsors & Partners</a></li>
		  <li><a href="{{ "/about/prime-people" | absolute_url }}">PRIME People</a></li>
		  <li><a href="{{ "/resources" | absolute_url }}">Resources</a></li>
		  <li><a href="{{ "/about/appendix" | absolute_url }}">Appendix</a></li>

		</ul>
	</div>

</div> <!-- /.card -->