<div class="card bg-light" style="margin-bottom: 40px">
	<div class="card-header">
		<h4 class="card-title"><i class="fas fa-link"></i> Quicklinks</h4>
	</div>

	<div class="card-block">
		<a href="{{ "/about" | absolute_url }}">About PRIME</a><br /><br />
		<a href="{{ "/about/curriculum" | absolute_url }}">PRIME Curriculum</a><br /><br />
		<a href="{{ "/about/sponsors-partners" | absolute_url }}">Sponsors & Partners</a><br /><br />
		<a href="{{ "/about/prime-people" | absolute_url }}">PRIME People</a><br /><br />
		<a href="{{ "/about/resources" | absolute_url }}">Resources</a><br /><br />
		<a href="{{ "/about/appendix" | absolute_url }}">Appendix</a>
	</div>

</div> <!-- /.card -->