<div class="card bg-light" style="margin-bottom: 40px">
	<div class="card-header">
		<h4 class="card-title"><i class="fas fa-link"></i> Quicklinks</h4>
	</div>

	<div class="card-block">
		<a href="{{ "/alumni/2015" | absolute_url }}">2015 Students</a><br /><br />
		<a href="{{ "/alumni/2014" | absolute_url }}">2014 Students</a><br /><br />
		<a href="{{ "/alumni/2013" | absolute_url }}">2013 Students</a><br /><br />
		<a href="{{ "/alumni/2012" | absolute_url }}">2012 Students</a><br /><br />
		<a href="{{ "/alumni/2011" | absolute_url }}">2011 Students</a><br /><br />
		<a href="{{ "/alumni/2010" | absolute_url }}">2010 Students</a><br /><br />
	</div>

</div> <!-- /.card -->