<div class="card bg-light" style="margin-bottom: 40px">
	<div class="card-header">
		<h4 class="card-title"><i class="fas fa-link"></i> Quicklinks</h4>
	</div>

	<div class="card-block">
		<p>
			<a href="{{ "/apply-now" | absolute_url }}">Applications & Scholarships</a><br /><br /> 
			
			<a href="{{ "/apply/app-process" | absolute_url }}">Application Process</a><br /><br />
			
			<a href="">Preliminary Application</a><br /><br />
			
			<a href="">Full Application</a>

		</p>
	</div>

</div> <!-- /.card -->