<div class="card bg-light" style="margin-bottom: 40px">
	<div class="card-header">
		<h4 class="card-title"><i class="fas fa-link"></i> Curriculum Materials</h4>
	</div>

	<div class="card-block">
		<p>
			<a href="">INFORMATION SESSION MATERIALS</a><br /><br /> 
			
			<a href="">2015 PRIME AGREEMENT</a><br /><br />
			
			<a href="">PRE-DEPARTURE CULTURAL MATERIALS</a><br /><br />
			
			<a href="">RE-ENTRY MATERIALS</a><br /><br />
			
			<a href="">CULTURAL QUESTIONS</a><br /><br />
			
			<strong>Assessment and Evaluation Forms for PRIME</strong><br />
			  + <a href="">CULTURAL OUTCOMES</a><br />
			  + <a href="">STUDENT RESEARCH EXPERIENCE</a><br />
			  + <a href="">UCSD MENTOR EVALUATION</a><br />
			  + <a href="">HOST RESEARCH EVALUATION</a><br /><br />
			
			<strong>Intercultural Development Inventory</strong><br />
			  - <a href="">www.idiinventory.com</a>
		</p>
	</div>

</div> <!-- /.card -->