<div class="card">
	<div class="card-header">
		<h4 class="card-title"><i class="fas fa-calendar-alt"></i> Session/Workshop Calendar</h4>
	</div>
	<div class="card-block">
	    <p class="card-text">For students accepted into PRIME, attendance is required at each of these events on the 2015 calendar:</p>
	</div>

	<div class="card-block">
		<dl class="dl-horizontal">
		  <dt>TBD</dt>
		  	<dd>Orientation Session, 9 - 11 am</dd>
		  
		  <dt>TBD</dt>
		  	<dd>Expectations and Logistics Workshop</dd>
		  
		  <dt>TBD</dt>
		  	<dd>Pre-departure Cultural Awareness Workshop</dd>
		  
		  <dt>TBD</dt>
		  	<dd>Re-entry Workshop</dd>
		</dl>
	</div>

</div> <!-- /.card -->