<div class="card">
	<div class="card-header">
		<h4 class="card-title"><i class="fas fa-handshake"></i> Sponsors</h4>
	</div>

	<div class="card-block text-center">
		
		<div class="row sponsor-vertical-center">
			<div class="col-md-6">
				<img src={{ "/assets/images/logo-sponsor-nsf.png" | absolute_url}}>
				<p><a href="https://www.nsf.gov/">National Science Foundation</a></p>
			</div>
			<div class="col-md-6">
				<img src={{ "/assets/images/logo-sponsor-nbcr.jpg" | absolute_url}}>
				<p><a href="http://nbcr.ucsd.edu/">National Biomedical Computation Resource</a></p>
			</div>
		</div>

		<div class="row sponsor-vertical-center">
			<div class="col-md-6">
				<img src={{ "/assets/images/logo-sponsor-geon.png" | absolute_url}}>
				<p><a href="https://www.moore.org/">Gordon & Betty Moore Foundation</a></p>
			</div>
			<div class="col-md-6">
				<img src={{ "/assets/images/logo-sponsor-usm.png" | absolute_url}}>
				<p><a href="http://www.usm.my/index.php/en/">Universiti Sains Malaysia</a></p>
			</div>
		</div>

		<div class="row sponsor-vertical-center">
			<div class="col-md-6">
				<img src={{ "/assets/images/logo-sponsor-nict.jpg" | absolute_url}}>
				<p><a href="https://www.nict.go.jp/en/index.html">National Institute of Information Communications and Technology</a></p>
			</div>
			<div class="col-md-6">
				<img src={{ "/assets/images/logo-sponsor-doshisha.jpg" | absolute_url}}>
				<p><a href="https://www.doshisha.ac.jp/en/">Doshisha University</a></p>
			</div>
		</div>

	</div>

</div> <!-- /.card -->