<div class="card bg-light">
	<div class="card-header">
		<h4 class="card-title"><i class="fas fa-flask"></i> Research</h4>
	</div>

	<div class="card-block">
	    <p class="card-text">In 2011 - 2014, PRIME students fanned out across the Pacific Rim to work on a variety of projects which had one thing in common: they took advantage of advances in cyberinfrastructure. PRIME grew out of the PRAGMA collaborative and people framework, and PRIME projects are based on collaborations that have developed between UC San Diego scientists and engineers, and their counterparts at institutions in Asia and Australasia. While the cultural component of PRIME is vital, in this section we look back at the research carried out by PRIME students at host sites, together with mentors on both sides of the Pacific.

	    Following is a list of projects undertaken over 24 months in the life of PRIME; click on the title of the project to read more about it:</p>
	</div>

	<div class="card-block">
	    <h6>2012 Projects</h6>
	    <p class="card-text">
	    	<ul>
	    		<li><a href="#">Prototype Mobile Gallery Guide Using Novel Location-Based Technology</a></li>
				<li><a href="#">Earthquake Engineering</a></li>
				<li><a href="#">Automating the Analysis of Microscopy Images through Nimrod/K Project in Kepler Workflow System</a></li>
				<li><a href="#">Virtual Screening for High Specificity Inhibitors of SSH-2</a></li>
				<li><a href="#">Molecular Dynamics Simulations of Membrane-bound Cytochrome P450 1A2</a></li>
				<li><a href="#">Advancement of Chagas Disease Treatment through the Identification of Potential Natural and Synthetic Product Targets in the Trypanosoma Cruzi Proteome</a></li>
				</li>
			</ul>
	    </p>
	</div>

	<div class="card-block">
	    <h6>2011 Projects</h6>
	    <p class="card-text">
	    	<ul>
	    		<li><a href="#">Augmented Reality in Android System with Disaster Response Application</a></li>
				<li><a href="#">Developing a Database of Damage and Structural Performance of New Zealand Christchurch Earthquake-affected Bridges</a>
				<li><a href="#">Integration of the Opal Web Service Client in Duckling Portal</a></li>
				<li><a href="#">Super-resolution Microscopic Imaging of Excitation-Contraction Coupling Regulatory Machiner in Heart Muscle Cells</a></li>
				<li><a href="#">Automated Image Classification for the Vespidae Family of Wasps</a></li>
				<li><a href="#">Navi: Covise-Kinect Navigation Interface with a Cultural Heritage Application</a></li>
				<li><a href="#">Computational Modeling of Local Calcium Handling in Cardiac Myocytes</a></li>
				<li><a href="#">Grid-based 3-D Protein Model Building for Small Molecule Docking</a></li>
				<li><a href="#">Advances in Influenza Virus Research</a></li>
			</ul>
	    </p>
	</div>

</div> <!-- /.card -->