<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ '/assets/main.css?v=' | append: site.github.build_revision | relative_url }}">

  </head>

  <body>

    <!-- Navigation -->
    {% include navbar.html %}

    <header>

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <a class="btn btn-lg btn-secondary btn-block btn-info" id="landing-cta" href="{{ "/apply-now" | absolute_url }}">Apply Now</a>

        <ol class="carousel-indicators">

          {% for item in site.data.frontpage_slides %}

            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.index }}" 
            {% if forloop.first == true %}
              class="active"
            {% endif %}
            ></li>

          {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">

          {% for item in site.data.frontpage_slides %}
            <div class="carousel-item{% if forloop.first %} active{% endif %}" style="background-image: url(' {{ item.path }}')">
              <div class="carousel-caption d-none d-md-block">
                <h3>{{ item.slide }}</h3>
                <p>{{ item.description }}</p>
              </div>
            </div>
          {% endfor %}
  
          

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container body-content">

      <div class="row featurette">
        <div class="col-lg-12 text-center">
          <h1 class="my-4">Pacific Rim Experiences for Undergraduates</h1>
          <p>
            The Pacific Rim Experiences for Undergraduates (PRIME) program was created in 2004 to provide a project-based, hands-on research internship program combined with an experience in international cultural awareness for science and engineering undergraduates at the University of California, San Diego. PRIME grew out of the PRAGMA collaborative project framework and people network. PRIME’s projects are also facilitated through additional collaborations between UC San Diego and international researchers outside the PRAGMA network.
          </p>
        </div>
      </div>

    </div>

    <div class="program-overview">
      <div class="container body-content">
        <!-- Marketing Icons Section -->
        <div class="row featurette">
          <div class="col-lg-12 text-center text-light">
            <h1 class="my-4 text-light">Program Overview</h1>
            <p>
              The PRIME research internship takes place annually over a 30-week period that includes four phases:
            </p>
          </div>

          <div class="col-xl-3 mb-4">
            <div class="card h-100 text-center">
              <h4 class="card-header">Admission Process<br/>(Winter Quarter)</h4>
              <div class="card-body">
                <p class="card-text">
                  Application (a student-written internship project based on the research interest and expertise of the dual mentors), interview and placement process
                </p>
              </div>
            </div>
          </div>

          <div class="col-xl-3 mb-4">
            <div class="card h-100 text-center">
              <h4 class="card-header">Research and Cultural Preparation<br/>(Spring Quarter)</h4>
              <div class="card-body">
                <p class="card-text">
                  On-campus, mentored research skill building and cultural competency development
                </p>
              </div>
            </div>
          </div>

          <div class="col-xl-3 mb-4">
            <div class="card h-100 text-center">
              <h4 class="card-header">Research and Cultural Internship<br/>(Summer)</h4>
              <div class="card-body">
                <p class="card-text">
                  Summer internship at the host site and ongoing cultural competency development through weekly reflection essays
                </p>
              </div>
            </div>
          </div>

          <div class="col-xl-3 mb-4">
            <div class="card h-100 text-center">
              <h4 class="card-header">Re-entry Activities<br/>(Fall Quarter)</h4>
              <div class="card-body">
                <p class="card-text">
                  Participating in workshops to systematically reflect on the international experience; sharing the experience with other students during study-abroad info sessions; continuing the research at UCSD for publication
                </p>
              </div>
            </div>
          </div>

          <!-- <div class="row justify-content-center"> -->
          <div class="col-lg-4 offset-lg-4">
            <a class="btn btn-lg btn-secondary btn-block btn-info" href="{{ "/about" | absolute_url }}">Learn More</a>
          </div>
          

        </div> <!-- /row -->

      </div> <!-- /body content -->
    </div> <!-- /program overview -->

    <div class="landing-feed">
    <div class="container body-content">

      <div class="row justify-content-center featurette">
        <div class="col-lg-4">

          <h2>Upcoming Events</h2>


          {% for post in site.categories.event limit:5 %}

              <dl class="row">
                <dt class="col-sm-3 text-right">{{ post.date | date: "%m.%d.%y" }} </dt>
                <dd class="col-sm-9"><a href="{{ post.url }}">{{ post.title }}</a></dd>
              </dl>
          {% endfor %}

        </div>

        <div class="col-lg-4">
          <h2>PRIME News</h2>

          {% for post in site.categories.news limit:5 %}

              <dl class="row">
                <dt class="col-sm-3 text-right">{{ post.date | date: "%m.%d.%y" }} </dt>
                <dd class="col-sm-9"><a href="{{ post.url }}">{{ post.title }}</a></dd>
              </dl>
          {% endfor %}

        </div>

        <div class="col-lg-4">
          <h2>Media</h2>

          {% for post in site.categories.event limit:1 %}

              <dl class="row">
                <dt class="col-sm-3 text-right">{{ post.date | date: "%m.%d.%y" }} </dt>
                <dd class="col-sm-9">{{ post.title }}</dd>
              </dl>
          {% endfor %}

        </div>
      </div>

    </div> <!-- /container -->
    </div> <!-- /landing-feed -->

    <!-- Footer -->

    {% include footer.html %}

    <!-- Bootstrap core JavaScript -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
